.modal {
  background-color: white;
  box-shadow: 0.1rem 0.1rem 100rem rgba(0, 0, 0, 0.39);
  backface-visibility: hidden;
  overflow: auto;
  border-radius: 0.4rem;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-height: 90%;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: #ffcc00;
}

.modal-header * {
  vertical-align: middle;
  color: white;
  font-weight: 700;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  border: none;
  outline: none;
  font-size: 1.4rem;
}

.modal-header .closeModal {
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.courseForm {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.courseForm input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
  max-width: 90%;
  margin-bottom: 0px;
  background-color: whitesmoke;
}

.courseForm button {
  margin: 5% 30%;
}

.courseForm button:hover {
  background-color: #0033ff20;
  color: #0033ff;
  transition: 0.3s ease-in-out;
}

@keyframes animate {
  from {
    display: static;
    transform: scale(0, 0);
  }
  to {
    display: inherit;

    transform: scale(1, 1);
  }
}

.added-success {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  vertical-align: middle;
  color: green;
  animation: animate 2s 0.2s ease-in;
}

@media screen and (max-width: 500px) {
  .modal {
    width: 70%;
  }
}
