* {
  margin: 0;
  padding: 0;
}
.loading {
  background-color: #cc0000;
  border-radius: 100%;
  height: 0px;
  width: 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading * {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.loading .loading-inner {
  border-radius: 100%;
  background-color: #cc0000;
  animation: animateLoading 1s infinite;
}

.loading .loading-text {
  font-weight: 900;
  height: 100px;
  width: 100px;
  background: none;
}

@keyframes animateLoading {
  0% {
    width: 0px;
    height: 0px;
    background-color: #cc0000;
  }

  100% {
    width: 100px;
    height: 100px;
    background-color: #cc000000;
  }
}
