* {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

.course-parent {
  padding: 1rem;
}

.course-parent .course-header,
.header {
  text-align: center;
  color: #0033ff;
  margin: 1rem;
}

.course-parent .course-container .single-course {
  margin: 1rem 0rem;
  background-color: transparent;
  border: 1px solid #e3e3e3;
  border-radius: 0.4rem;
}

.single-course .course-title {
  background-color: whitesmoke;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  line-height: 4rem;
  font-weight: 600;
  text-decoration: none;
  color: #000055;
}

.single-course .alter-course {
  font-size: 0px;
}
.single-course .alter-course * {
  padding: 0.6rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.single-course .alter-course *:hover {
  background-color: #e3e3e3;
}

.course-code:hover {
  filter: opacity(0.8);
  outline: none;
}

.course-code,
.course-add {
  text-decoration: none;
  margin: 1rem 0rem;
  color: #0033ff;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.4rem 1rem;
  background-color: #0033ff20;
  border: none;
  border-radius: 0.2rem;
}

.single-course blockquote {
  padding: 0.2rem 1rem;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.4rem;
  }
  .single-course .course-title,
  .single-course blockquote {
    padding: 0.5rem;
  }
}
