* {
  margin: 0rem;
  padding: 0px;
  font: 'Quicksand', sans-sarif;
}

.create-test {
  padding: 1rem;
}

.form-elem {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 2rem;
}

.form-elem * {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.form-elem input[type='datetime-local'],
.form-elem input[type='time'] {
  padding: 0rem;
  padding-left: 1rem;
}

.form-elem input::-webkit-calendar-picker-indicator {
  background-color: #ffcc00;
  padding: 1rem;
}

.form-elem .detail-text {
  height: 5rem;
  padding: 1rem;
  background-color: whitesmoke;
  border: none;
  resize: none;
}

.form-elem .detail-text:focus {
  outline: 1px lightgray solid;
}

.form-validation-text {
  color: #cc0000;
  font-size: 1rem;
}

.back {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 10rem;
  padding: 0.4rem;
  background-color: transparent;
  border: 1px #0033ff solid;
  color: #0033ff;
  vertical-align: middle;
  cursor: pointer;
  z-index: 1;
}

.back:hover {
  background-color: #0033ff22;
}

.required {
  color: #cc0000;
  display: inline;
}

.btn .tooltip,
.btn:disabled .tooltip {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  display: none;
  position: absolute;
  bottom: 0.1rem;
  left: 1rem;
  background-color: #000000bb;
  border-radius: 0.2rem;
  color: whitesmoke;
  padding: 0.5rem;
  text-align: left;
}

.btn:disabled:hover .tooltip {
  display: block;
  width: fit-content;
}
