* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

.main {
  background-color: white;
  display: grid;
  grid-template-columns: max-content auto;
  justify-content: stretch;
}

.vertical-nav-container {
  flex-direction: column;
  list-style-type: none;
  border: none;
  border-right: 1px solid whitesmoke;
  overflow-y: auto;
}

.vertical-nav-container li * {
  padding: 1rem;
  display: block;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.vertical-nav-container li *:hover {
  background-color: whitesmoke;
}

.vertical-nav-container li *:focus {
  background-color: whitesmoke;
}

@media screen and (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .vertical-nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #ffcc00;
    width: 100%;
  }
  .vertical-nav-container li {
    flex: 1 1;
  }

  .vertical-nav-container li * {
    padding: 0.8rem;
    display: block;
    height: 100%;
  }
}
